Repository deedee-ops/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/schemas, area/scripts, area/talos, area/taskfile

feat: add reloader
  kubernetes/apps/kube-system/reloader/Chart.yaml
  kubernetes/apps/kube-system/reloader/argocd.yaml
  kubernetes/apps/kube-system/reloader/values.yaml
  schemas/values.json
Labels: area/kubernetes, area/schemas

feat: add descheduler
  .ylsignore
  kubernetes/apps/kube-system/descheduler/Chart.yaml
  kubernetes/apps/kube-system/descheduler/argocd.yaml
  kubernetes/apps/kube-system/descheduler/values.yaml
  talos/deedee/controlplane.yaml.j2
Labels: area/kubernetes, area/talos

chore: ensure current cluster is set on direnv switch
  .env
  .envrc
  flake.nix
  kubernetes/clusters/deedee/values.yaml
  scripts/_lib.sh
Labels: area/kubernetes, area/scripts

feat: add system update controller
  kubernetes/apps/external/cloudflare-tunnel/templates/configmap.yaml
  kubernetes/apps/system-upgrade/README.md
  kubernetes/apps/system-upgrade/system-upgrade-controller/Chart.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/argocd.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/templates/plans/kubernetes.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/templates/plans/talos.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/templates/rbac.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/values.yaml
  kubernetes/lib/cluster-provisioner/templates/appset.yaml
  schemas/argocd.json
  schemas/talos.dev-serviceaccount_v1alpha1.json
Labels: area/kubernetes, area/schemas

chore: don't be _too_ smart
  .env
Labels: none

fix(cilium): fix multilple `ContainerStatusUnknown` for operator after restart
  kubernetes/apps/kube-system/cilium/values.yaml
Labels: area/kubernetes

chore(nix): use new nix cache endpoint
  flake.lock
  flake.nix
  talos/deedee/controlplane.yaml.j2
Labels: area/talos

feat(komodo): update ferretdb to v2
  docker/stacks/komodo/compose.env
  docker/stacks/komodo/compose.yaml
Labels: none

feat(opentofu): add support for all my domains
  opentofu/anonaddy-dns.tf
  opentofu/cloudflare-dns.tf
  opentofu/cloudflare-firewall.tf
  opentofu/cloudflare-redirects.tf
  opentofu/cloudflare-tunnel.tf
  opentofu/locals.tf
  opentofu/migadu-dns.tf
  opentofu/variables.tf
Labels: none

feat(meemee): add camera endpoints for home assistant
  docker/hosts/meemee/resources/build.cameras.toml
  docker/stacks/komodo-periphery/compose.yaml
  docker/stacks/komodo/compose.yaml
  docker/stacks/registry/compose.yaml
Labels: none

feat(meemee): add camera endpoints for home assistant
  docker/hosts/meemee/resources/build.cameras.toml
  docker/stacks/komodo-periphery/compose.yaml
  docker/stacks/komodo/compose.yaml
  docker/stacks/registry/compose.yaml
Labels: none

feat(home-assistant): expose cameras for home-assistant
  docker/hosts/meemee/resources/resource_sync.cameras.toml
  docker/hosts/meemee/resources/resource_sync.gitops.toml
Labels: none

fix(caddy-docker-proxy): rewrite obsidian properly
  docker/stacks/caddy-docker-proxy/compose.yaml
Labels: none

feat(migadu): provision all migadu mailboxes, aliases and identities via terraform
  opentofu/anonaddy-dns.tf
  opentofu/cloudflare-redirects.tf
  opentofu/cloudflare-tunnel.tf
  opentofu/locals.tf
  opentofu/main.tf
  opentofu/migadu-dns.tf
  opentofu/migadu-emails.tf
  opentofu/providers.tf
  opentofu/variables.tf
Labels: none

fix(minio): MINIO_SERVER_URL is obsolete
  docker/hosts/meemee/resources/stack.minio.toml
Labels: none

fix(snmp-exporter): use quay.io image
  docker/stacks/snmp-exporter/compose.yaml
Labels: none

feat(caddy): add ssl cert synchronizing script
  docker/stacks/caddy-docker-proxy/compose.yaml
  docker/stacks/caddy-docker-proxy/config/sync-certs.sh
  docker/stacks/komodo/compose.yaml
Labels: none

chore: change root domain
  kubernetes/clusters/deedee/values.yaml
Labels: area/kubernetes

feat(meemee): add camera endpoints for home assistant
  docker/hosts/meemee/resources/build.cameras.toml
  docker/stacks/komodo-periphery/compose.yaml
  docker/stacks/komodo/compose.yaml
  docker/stacks/registry/compose.yaml
Labels: none

fix(docker): fix broken registry
  docker/stacks/registry/compose.env
  docker/stacks/registry/compose.yaml
Labels: none

fix(docker): fix broken registry
  docker/stacks/registry/compose.env
  docker/stacks/registry/compose.yaml
  docker/stacks/talos-factory/compose.yaml
Labels: none

fix(docker): fix broken registry
  docker/stacks/registry/compose.yaml
  docker/stacks/registry/registry-ui.env
  docker/stacks/registry/registry.env
  docker/stacks/talos-factory/compose.yaml
Labels: none

chore: try to lower electricity bill
  kubernetes/apps/external/cloudflare-tunnel/values.yaml
  kubernetes/apps/kube-system/cilium/values.yaml
  kubernetes/apps/kube-system/descheduler/values.yaml
  kubernetes/apps/kube-system/metrics-server/values.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/values.yaml
  talos/deedee/README.md
  talos/deedee/controlplane.yaml.j2
Labels: area/kubernetes, area/talos

chore(renovate): external-dns chart doesn't follow cotnainer version properly, so there is no point in grouping them
  .renovate/groups.json5
Labels: area/renovate

fix(node-exporter): fix image hash
  .github/workflows/renovate.yaml
  docker/stacks/node-exporter/compose.yaml
Labels: area/github

fix(node-exporter): fix image hash
  .github/workflows/renovate.yaml
  docker/stacks/node-exporter/compose.yaml
Labels: area/github

feat(talos): add powertop autotune
  talos/deedee/controlplane.yaml.j2
Labels: area/talos

fix(argocd): fix webhook
  kubernetes/apps/external/cloudflare-tunnel/values.yaml
  opentofu/cloudflare-redirects.tf
  opentofu/locals.tf
  opentofu/variables.tf
Labels: area/kubernetes

feat: add snapshot-controller
  .ylsignore
  kubernetes/apps/kube-system/snapshot-controller/Chart.yaml
  kubernetes/apps/kube-system/snapshot-controller/argocd.yaml
  kubernetes/apps/kube-system/snapshot-controller/values.yaml
Labels: area/kubernetes

feat: add rook-ceph-cluster
  .ylsignore
  kubernetes/apps/rook-ceph/rook-ceph-cluster/Chart.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/argocd.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/templates/httproute.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/values.yaml
  kubernetes/apps/rook-ceph/rook-ceph-operator/Chart.yaml
  kubernetes/apps/rook-ceph/rook-ceph-operator/argocd.yaml
  kubernetes/apps/rook-ceph/rook-ceph-operator/templates/externalsecret.yaml
  kubernetes/apps/rook-ceph/rook-ceph-operator/values.yaml
  kubernetes/clusters/deedee/application.yaml
Labels: area/kubernetes

feat: add intel-device-plugin-operator
  .ylsignore
  kubernetes/apps/kube-system/intel-device-plugin-operator/Chart.yaml
  kubernetes/apps/kube-system/intel-device-plugin-operator/argocd.yaml
  kubernetes/apps/kube-system/intel-device-plugin-operator/values.yaml
Labels: area/kubernetes

fix(argocd): refactor values builder
  kubernetes/apps/rook-ceph/rook-ceph-cluster/values.yaml
  kubernetes/clusters/deedee/application.yaml
  kubernetes/clusters/deedee/values.yaml
  kubernetes/lib/cluster-provisioner/templates/appset.yaml
  kubernetes/lib/cluster-provisioner/values.yaml
Labels: area/kubernetes

fix(caddy): generate old RSA certificates for IPXE
  docker/stacks/caddy-docker-proxy/compose.yaml
Labels: none

feat(deedee): moved talos system to NVMe disk
  .ylsignore
  talos/deedee/controlplane.yaml.j2
  talos/deedee/nodes/10.42.20.11.yaml.j2
  talos/deedee/nodes/10.42.20.12.yaml.j2
  talos/deedee/nodes/10.42.20.13.yaml.j2
Labels: area/talos

fix(bootstrap): fix various quirks, breaking up clean bootstrap
  bootstrap/helmfile.yaml
  bootstrap/resources.yaml.j2
  kubernetes/apps/argocd/argo-cd/templates/externalsecret.yaml
  kubernetes/apps/argocd/argo-cd/templates/httproute.yaml
  kubernetes/apps/argocd/argo-cd/values.yaml
  kubernetes/apps/external-secrets/external-secrets/templates/secret.yaml
  kubernetes/apps/kube-system/cilium/templates/certificate.yaml
  kubernetes/apps/kube-system/cilium/templates/external.yaml
  kubernetes/apps/kube-system/cilium/templates/httproute.yaml
  kubernetes/apps/kube-system/cilium/templates/internal.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/argocd.yaml
  kubernetes/lib/cluster-provisioner/templates/appset.yaml
  schemas/argocd.json
Labels: area/bootstrap, area/kubernetes, area/schemas

fix(bootstrap): fix various quirks, breaking up clean bootstrap
  bootstrap/helmfile.yaml
  bootstrap/resources.yaml.j2
  kubernetes/apps/argocd/argo-cd/templates/externalsecret.yaml
  kubernetes/apps/argocd/argo-cd/templates/httproute.yaml
  kubernetes/apps/argocd/argo-cd/values.yaml
  kubernetes/apps/cert-manager/cert-manager/values.yaml
  kubernetes/apps/external-secrets/external-secrets/templates/secret.yaml
  kubernetes/apps/kube-system/cilium/templates/certificate.yaml
  kubernetes/apps/kube-system/cilium/templates/external.yaml
  kubernetes/apps/kube-system/cilium/templates/httproute.yaml
  kubernetes/apps/kube-system/cilium/templates/internal.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/argocd.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/values.yaml
  kubernetes/lib/cluster-provisioner/templates/appset.yaml
  schemas/argocd.json
  talos/deedee/controlplane.yaml.j2
Labels: area/bootstrap, area/kubernetes, area/schemas, area/talos

feat: add kube-prometheus-stack
  .ylsignore
  kubernetes/apps/external/namespace.yaml
  kubernetes/apps/observability/kube-prometheus-stack/Chart.yaml
  kubernetes/apps/observability/kube-prometheus-stack/argocd.yaml
  kubernetes/apps/observability/kube-prometheus-stack/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/observability/kube-prometheus-stack/templates/scrapeconfig.yaml
  kubernetes/apps/observability/kube-prometheus-stack/values.yaml
  kubernetes/clusters/deedee/values.yaml
Labels: area/kubernetes

feat: add unpoller
  kubernetes/apps/observability/unpoller/Chart.yaml
  kubernetes/apps/observability/unpoller/argocd.yaml
  kubernetes/apps/observability/unpoller/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/observability/unpoller/templates/externalsecret.yaml
  kubernetes/apps/observability/unpoller/values.yaml
  kubernetes/clusters/deedee/values.yaml
Labels: area/kubernetes

feat: add smartctl-exporter
  .ylsignore
  kubernetes/apps/observability/smartctl-exporter/Chart.yaml
  kubernetes/apps/observability/smartctl-exporter/argocd.yaml
  kubernetes/apps/observability/smartctl-exporter/templates/prometheusrule.yaml
  kubernetes/apps/observability/smartctl-exporter/values.yaml
Labels: area/kubernetes

fix(app-template): use aliases for all app-template charts
  kubernetes/apps/external/cloudflare-tunnel/Chart.yaml
  kubernetes/apps/external/cloudflare-tunnel/values.yaml
  kubernetes/apps/kube-system/irqbalance/Chart.yaml
  kubernetes/apps/kube-system/irqbalance/values.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/Chart.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/values.yaml
  schemas/values.json
Labels: area/kubernetes, area/schemas

.github/labeler.yaml:

---
# yaml-language-server: $schema=https://json.schemastore.org/pull-request-labeler.json
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
          - "docs/**/*.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/schemas:
  - changed-files:
      - any-glob-to-any-file: "schemas/**/*"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
