Repository deedee-ops/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/schemas, area/scripts, area/talos, area/taskfile

.github/labeler.yaml:

---
# yaml-language-server: $schema=https://json.schemastore.org/pull-request-labeler.json
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
          - "docs/**/*.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/schemas:
  - changed-files:
      - any-glob-to-any-file: "schemas/**/*"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

WIP
  kubernetes/apps/network/envoy-gateway/templates/gateway.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/network/envoy-gateway/templates/envoy.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/network/envoy-gateway/templates/ciliumnetworkpolicy.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/network/envoy-gateway/templates/envoy.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/network/envoy-gateway/templates/envoy.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/network/envoy-gateway/templates/ciliumnetworkpolicy.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/network/envoy-gateway/templates/envoy.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/network/envoy-gateway/templates/envoy.jsonnet
  kubernetes/apps/network/envoy-gateway/templates/envoypolicy.yaml
  kubernetes/clusters/meemee/globals.json
Labels: area/kubernetes

WIP
  kubernetes/apps/network/envoy-gateway/templates/gateway.jsonnet
  kubernetes/apps/network/envoy-gateway/templates/gateway.yaml
  kubernetes/apps/network/external-dns-unifi/app.yaml
  kubernetes/apps/network/external-dns-unifi/templates/externalsecret.yaml
  kubernetes/clusters/meemee/globals.json
  kubernetes/clusters/meemee/values.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/network/envoy-gateway/templates/gateway.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/network/envoy-gateway/app.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/network/envoy-gateway/templates/gateway.jsonnet
  kubernetes/apps/network/envoy-gateway/templates/httproute.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/network/external-dns-unifi/app.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/network/external-dns-unifi/templates/ciliumnetworkpolicy.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/argocd/argo-cd/templates/httproute.jsonnet
Labels: area/kubernetes

WIP
  kubernetes/apps/argocd/argo-cd/templates/httproute.jsonnet
Labels: area/kubernetes

WIP
  kubernetes/apps/argocd/argo-cd/templates/httproute.jsonnet
Labels: area/kubernetes

WIP
  kubernetes/apps/network/envoy-gateway/templates/gateway.jsonnet
Labels: area/kubernetes

WIP
  kubernetes/apps/network/envoy-gateway/templates/gateway.jsonnet
  kubernetes/clusters/meemee/globals.json
Labels: area/kubernetes

WIP
  kubernetes/apps/argocd/argo-cd/templates/httproute.jsonnet
  kubernetes/apps/network/envoy-gateway/templates/envoypolicy.yaml
Labels: area/kubernetes

WIP
  kubernetes/clusters/meemee/globals.json
Labels: area/kubernetes

WIP
  kubernetes/apps/network/envoy-gateway/templates/gateway.jsonnet
Labels: area/kubernetes

WIP
  kubernetes/clusters/meemee/templates/namespace.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/network/envoy-gateway/templates/gateway.jsonnet
  kubernetes/clusters/meemee/globals.json
  talos/meemee/machineconfig.yaml.j2
Labels: area/kubernetes, area/talos

WIP - envoy separation
  kubernetes/apps/network/envoy-gateway/templates/envoy.jsonnet
  kubernetes/apps/network/envoy-gateway/templates/envoypolicy.yaml
  kubernetes/apps/network/envoy-gateway/templates/gateway.jsonnet
Labels: area/kubernetes

WIP - envoy 2
  kubernetes/apps/network/envoy-gateway/templates/envoy.jsonnet
  kubernetes/apps/network/envoy-gateway/templates/envoypolicy.yaml
  kubernetes/apps/network/envoy-gateway/templates/gateway.jsonnet
  kubernetes/apps/network/envoy-gateway/templates/gatewayclass.jsonnet
Labels: area/kubernetes

WIP
  kubernetes/clusters/meemee/globals.json
  kubernetes/lib/cluster-provisioner/templates/appset.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/kube-system/cilium/app.yaml
  kubernetes/apps/kube-system/cilium/templates/ciliumloadbalancerpool.jsonnet
  kubernetes/apps/kube-system/cilium/templates/l2.jsonnet
  kubernetes/clusters/meemee/values.yaml
  kubernetes/lib/cluster-provisioner/templates/appset.yaml
  talos/meemee/machineconfig.yaml.j2
Labels: area/kubernetes, area/talos

WIP
  kubernetes/apps/kube-system/cilium/templates/ciliumloadbalancerpool.jsonnet
  kubernetes/apps/kube-system/cilium/templates/l2.jsonnet
Labels: area/kubernetes

WIP
  kubernetes/apps/kube-system/cilium/templates/ciliumloadbalancerpool.jsonnet
  kubernetes/apps/kube-system/cilium/templates/l2.jsonnet
Labels: area/kubernetes

WIP
  kubernetes/apps/network/envoy-gateway/templates/envoy.jsonnet
  kubernetes/apps/network/envoy-gateway/templates/envoy.yaml
  kubernetes/apps/network/envoy-gateway/templates/gateway.jsonnet
  kubernetes/apps/network/envoy-gateway/templates/gatewayclass.jsonnet
  kubernetes/clusters/meemee/globals.json
Labels: area/kubernetes

WIP
  kubernetes/clusters/meemee/globals.json
Labels: area/kubernetes

WIP
  kubernetes/apps/network/envoy-gateway/templates/ciliumnetworkpolicy.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/network/envoy-gateway/templates/gateway.jsonnet
Labels: area/kubernetes

WIP
  kubernetes/apps/network/envoy-gateway/templates/envoy.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/cosign-system/policy-controller/templates/clusterimagepolicy.yaml
Labels: area/kubernetes

truenas
  .gitignore
  .sops.yaml
  docker/hosts/meemee/komodo.sops.env
  docker/stacks/komodo/compose.env
  docker/stacks/komodo/compose.yaml
  truenas/deploy.sh
  truenas/periphery.config.toml
Labels: none

WIP
  truenas/deploy.sh
Labels: none

WIP
  truenas/deploy.sh
Labels: none

WIP
  truenas/deploy.sh
Labels: none
