Repository deedee-ops/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/schemas, area/scripts, area/talos, area/taskfile

.github/labeler.yaml:

---
# yaml-language-server: $schema=https://json.schemastore.org/pull-request-labeler.json
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
          - "docs/**/*.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/schemas:
  - changed-files:
      - any-glob-to-any-file: "schemas/**/*"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

WIP
  kubernetes/apps/external-secrets/onepassword/templates/clustersecretstore.yaml.disabled
Labels: area/kubernetes

WIP
  TODO.md
  kubernetes/apps/external-secrets/onepassword/app.yaml
Labels: area/kubernetes

WIP
  TODO.md
  bootstrap/helmfile.d/00-crds.yaml
  bootstrap/resources.yaml.j2
  kubernetes/apps/external-secrets/external-secrets/app.yaml
  kubernetes/apps/external-secrets/external-secrets/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/external-secrets/onepassword/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/external-secrets/onepassword/templates/clustersecretstore.yaml
  kubernetes/clusters/meemee/globals.json
Labels: area/bootstrap, area/kubernetes

WIP
  kubernetes/apps/external-secrets/external-secrets/templates/ciliumnetworkpolicy.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/argocd/argo-cd/templates/ciliumnetworkpolicy.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/argocd/argo-cd/templates/ciliumnetworkpolicy.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/cosign-system/policy-controller/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/external-secrets/external-secrets/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/external-secrets/onepassword/templates/ciliumnetworkpolicy.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/external-secrets/onepassword/templates/clustersecretstore.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/external-secrets/onepassword/templates/clustersecretstore.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/external-secrets/onepassword/templates/ciliumnetworkpolicy.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/external-secrets/onepassword/templates/externalsecret.yaml
Labels: area/kubernetes

WIP
  bootstrap/resources.yaml.j2
  kubernetes/apps/argocd/argo-cd/templates/externalsecret.yaml
Labels: area/bootstrap, area/kubernetes

WIP
  kubernetes/apps/argocd/argo-cd/templates/externalsecret.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/argocd/argo-cd/templates/externalsecret.yaml
Labels: area/kubernetes

WIP
  bootstrap/resources.yaml.j2
  kubernetes/apps/argocd/argo-cd/templates/externalsecret.yaml
Labels: area/bootstrap, area/kubernetes

WIP
  TODO.md
  kubernetes/apps/kube-system/cilium/templates/httproute.yaml
  kubernetes/clusters/meemee/values.yaml
Labels: area/kubernetes

WIP
  .justfile
  bootstrap/mod.just
  bootstrap/resources.yaml.j2
  kubernetes/apps/argocd/argo-cd/templates/externalsecret.yaml
  kubernetes/apps/external-secrets/onepassword/templates/clustersecretstore.jsonnet
  kubernetes/apps/external-secrets/onepassword/templates/clustersecretstore.yaml
  kubernetes/apps/kube-system/cilium/templates/internal.yaml
  kubernetes/clusters/meemee/values.yaml
  talos/meemee/machineconfig.yaml.j2
  talos/mod.just
Labels: area/bootstrap, area/kubernetes, area/talos

WIP
  kubernetes/apps/kube-system/cilium/templates/internal.yaml
  kubernetes/clusters/meemee/templates/ciliumgateway.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/kube-system/cilium/templates/internal.yaml
  kubernetes/clusters/meemee/templates/ciliumgateway.yaml
Labels: area/kubernetes

WIP
  kubernetes/clusters/meemee/templates/ciliumgateway.yaml
Labels: area/kubernetes

WIP
  kubernetes/clusters/meemee/values.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/kube-system/cilium/templates/internal.yaml
  kubernetes/clusters/meemee/templates/ciliumgateway.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/cert-manager/cert-manager/app.yaml
  kubernetes/apps/cert-manager/cert-manager/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/cert-manager/cert-manager/templates/externalsecret.yaml
  kubernetes/apps/cert-manager/cert-manager/templates/prometheusrule.yaml
  kubernetes/apps/kube-system/cilium/templates/internal.yaml
  kubernetes/clusters/meemee/globals.json
Labels: area/kubernetes

WIP
  kubernetes/apps/argocd/argo-cd/templates/httproute.jsonnet
  kubernetes/apps/cert-manager/cert-manager/templates/clusterissuer.jsonnet
  kubernetes/apps/external-secrets/onepassword/templates/clustersecretstore.jsonnet
Labels: area/kubernetes

WIP
  kubernetes/apps/kube-system/cilium/app.yaml
  kubernetes/apps/kube-system/cilium/templates/certificate.jsonnet
  kubernetes/apps/kube-system/cilium/templates/httproute.yaml
  kubernetes/apps/kube-system/cilium/templates/internal.yaml
  kubernetes/clusters/meemee/globals.json
  kubernetes/clusters/meemee/values.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/argocd/argo-cd/templates/httproute.jsonnet
Labels: area/kubernetes

WIP
  kubernetes/apps/network/certificates/app.yaml
  kubernetes/apps/network/certificates/templates/certificate.jsonnet
  kubernetes/clusters/meemee/globals.json
  kubernetes/lib/cluster-provisioner/templates/appset.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/network/certificates/templates/pushsecret.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/external-secrets/onepassword/app.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/external-secrets/onepassword/app.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/external-secrets/onepassword/templates/ciliumnetworkpolicy.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/external-secrets/onepassword/templates/ciliumnetworkpolicy.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/cert-manager/cert-manager/templates/externalsecret.yaml
  kubernetes/apps/network/certificates/templates/externalsecret.jsonnet
  kubernetes/apps/network/certificates/templates/pushsecret.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/network/certificates/templates/externalsecret.jsonnet
Labels: area/kubernetes

WIP
  kubernetes/apps/network/certificates/templates/certificate.jsonnet
  kubernetes/apps/network/certificates/templates/pushsecret.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/network/envoy-gateway/app.yaml
  kubernetes/apps/network/envoy-gateway/observability.yaml
  kubernetes/clusters/meemee/globals.json
Labels: area/kubernetes

WIP
  kubernetes/apps/argocd/argo-cd/templates/ciliumnetworkpolicy.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/network/envoy-gateway/ciliumnetworkpolicy.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/network/envoy-gateway/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/network/envoy-gateway/templates/observability.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/network/envoy-gateway/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/network/envoy-gateway/templates/envoy.yaml
  kubernetes/apps/network/envoy-gateway/templates/httproute.yaml
Labels: area/kubernetes
