Repository deedee-ops/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/schemas, area/scripts, area/talos, area/taskfile

.github/labeler.yaml:

---
# yaml-language-server: $schema=https://json.schemastore.org/pull-request-labeler.json
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
          - "docs/**/*.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/schemas:
  - changed-files:
      - any-glob-to-any-file: "schemas/**/*"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

chore: fix yaml schemas
  kubernetes/apps/external/cloudflare-tunnel/templates/dnsendpoint.yaml
  kubernetes/apps/kube-system/cilium/templates/external.yaml
Labels: area/kubernetes

feat: add blackbox-exporter
  .ylsignore
  kubernetes/apps/observability/blackbox-exporter/Chart.yaml
  kubernetes/apps/observability/blackbox-exporter/argocd.yaml
  kubernetes/apps/observability/blackbox-exporter/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/observability/blackbox-exporter/templates/probe.yaml
  kubernetes/apps/observability/blackbox-exporter/values.yaml
  kubernetes/clusters/deedee/values.yaml
Labels: area/kubernetes

feat: add grafana
  .renovate/grafanaDashboards.json5
  .renovaterc.json5
  .ylsignore
  bootstrap/helmfile.yaml
  kubernetes/apps/cert-manager/cert-manager/values.yaml
  kubernetes/apps/external-secrets/external-secrets/values.yaml
  kubernetes/apps/kube-system/cilium/argocd.yaml
  kubernetes/apps/kube-system/cilium/values.yaml
  kubernetes/apps/kube-system/spegel/values.yaml
  kubernetes/apps/observability/grafana/Chart.yaml
  kubernetes/apps/observability/grafana/argocd.yaml
  kubernetes/apps/observability/grafana/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/observability/grafana/templates/externalsecret.yaml
  kubernetes/apps/observability/grafana/values.yaml
  kubernetes/apps/observability/kube-prometheus-stack/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/observability/kube-prometheus-stack/templates/scrapeconfig.tmpl.yaml
  kubernetes/apps/observability/kube-prometheus-stack/templates/scrapeconfig.yaml
  kubernetes/apps/observability/kube-prometheus-stack/values.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/values.yaml
  kubernetes/clusters/deedee/values.yaml
Labels: area/bootstrap, area/kubernetes, area/renovate

fix(cilium): deny access to other pods, for the pods with Internet access
  kubernetes/apps/cert-manager/cert-manager/templates/ciliumnetworkpolicy.yaml
Labels: area/kubernetes

fix(cilium): harden egress rules
  kubernetes/apps/argocd/namespace.yaml
  kubernetes/apps/cert-manager/namespace.yaml
  kubernetes/apps/external-secrets/namespace.yaml
  kubernetes/apps/external/external-dns-cloudflare/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/external/external-dns-unifi/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/external/namespace.yaml
  kubernetes/apps/kube-system/cilium/argocd.yaml
  kubernetes/apps/kube-system/cilium/templates/ciliumclusterwidenetworkpolicy.yaml
  kubernetes/apps/kube-system/cilium/templates/external.yaml
  kubernetes/apps/kube-system/cilium/templates/httproute.yaml
  kubernetes/apps/kube-system/cilium/templates/internal.yaml
  kubernetes/apps/observability/kube-prometheus-stack/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/openebs-system/namespace.yaml
  kubernetes/apps/rook-ceph/namespace.yaml
  kubernetes/apps/system-upgrade/namespace.yaml
Labels: area/kubernetes

chore: rename "external" to "network"
  kubernetes/apps/external/namespace.yaml
  kubernetes/apps/network/cloudflare-tunnel/Chart.yaml
  kubernetes/apps/network/cloudflare-tunnel/argocd.yaml
  kubernetes/apps/network/cloudflare-tunnel/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/network/cloudflare-tunnel/templates/configmap.yaml
  kubernetes/apps/network/cloudflare-tunnel/templates/dnsendpoint.yaml
  kubernetes/apps/network/cloudflare-tunnel/templates/externalsecret.yaml
  kubernetes/apps/network/cloudflare-tunnel/values.yaml
  kubernetes/apps/network/external-dns-cloudflare/Chart.yaml
  kubernetes/apps/network/external-dns-cloudflare/argocd.yaml
  kubernetes/apps/network/external-dns-cloudflare/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/network/external-dns-cloudflare/templates/externalsecret.yaml
  kubernetes/apps/network/external-dns-cloudflare/values.yaml
  kubernetes/apps/network/external-dns-unifi/Chart.yaml
  kubernetes/apps/network/external-dns-unifi/argocd.yaml
  kubernetes/apps/network/external-dns-unifi/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/network/external-dns-unifi/templates/externalsecret.yaml
  kubernetes/apps/network/external-dns-unifi/values.yaml
Labels: area/kubernetes

feat: add smtp-relay
  kubernetes/apps/network/smtp-relay/Chart.yaml
  kubernetes/apps/network/smtp-relay/argocd.yaml
  kubernetes/apps/network/smtp-relay/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/network/smtp-relay/templates/configmap.yaml
  kubernetes/apps/network/smtp-relay/templates/externalsecret.yaml
  kubernetes/apps/network/smtp-relay/values.yaml
Labels: area/kubernetes

feat: add alertmanager
  kubernetes/apps/argocd/argo-cd/templates/httproute.yaml
  kubernetes/apps/network/smtp-relay/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/network/smtp-relay/templates/configmap.yaml
  kubernetes/apps/observability/grafana/values.yaml
  kubernetes/apps/observability/kube-prometheus-stack/templates/alertmanagerconfig.yaml
  kubernetes/apps/observability/kube-prometheus-stack/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/observability/kube-prometheus-stack/templates/externalsecret.yaml
  kubernetes/apps/observability/kube-prometheus-stack/values.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/templates/httproute.yaml
Labels: area/kubernetes

feat(argocd): add support for `serverSideApply` (and diff) option
  kubernetes/apps/observability/kube-prometheus-stack/argocd.yaml
  kubernetes/lib/cluster-provisioner/templates/appset.yaml
  schemas/argocd.json
Labels: area/kubernetes, area/schemas

feat(rook-ceph): automatically wipe OSDs during cluster provisioning
  .taskfiles/bootstrap/Taskfile.yaml
  kubernetes/apps/rook-ceph/rook-ceph-cluster/values.yaml
  scripts/bootstrap-cluster.sh
Labels: area/kubernetes, area/scripts, area/taskfile

fix(minio): freeze minio to last known good version
  .renovate/customVersions.json5
  .renovaterc.json5
  docker/stacks/minio/compose.yaml
Labels: area/renovate

fix(grafana): allow fetching dashboards information from configmaps
  kubernetes/apps/observability/grafana/templates/ciliumnetworkpolicy.yaml
Labels: area/kubernetes

feat: add dragonfly operator
  .ylsignore
  kubernetes/apps/database/dragonfly-operator/Chart.yaml
  kubernetes/apps/database/dragonfly-operator/argocd.yaml
  kubernetes/apps/database/dragonfly-operator/templates/ciliumclusterwidenetworkpolicy.yaml
  kubernetes/apps/database/dragonfly-operator/values.yaml
  kubernetes/apps/database/namespace.yaml
  kubernetes/apps/security/authelia/templates/dragonfly.yaml
  kubernetes/apps/security/authelia/templates/podmonitor.yaml
  kubernetes/apps/security/authelia/templates/postgrescluster.yaml
  kubernetes/apps/security/namespace.yaml
Labels: area/kubernetes

WIP
  kubernetes/ee/crunchy-monitoring/dashboards/pgbouncer_direct.json
  kubernetes/ee/crunchy-monitoring/templates/prometheus/deployment.yaml
Labels: area/kubernetes

feat: add crunchydata postgres operator
  .ylsignore
  kubernetes/apps/argocd/argo-cd/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/database/namespace.yaml
  kubernetes/apps/database/postgres-operator/Chart.yaml
  kubernetes/apps/database/postgres-operator/argocd.yaml
  kubernetes/apps/database/postgres-operator/templates/prometheusrule.yaml
  kubernetes/apps/database/postgres-operator/templates/service.yaml
  kubernetes/apps/database/postgres-operator/templates/servicemonitor.yaml
  kubernetes/apps/database/postgres-operator/values.yaml
  kubernetes/apps/observability/grafana/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/observability/grafana/values.yaml
  kubernetes/apps/observability/kube-prometheus-stack/argocd.yaml
  kubernetes/clusters/deedee/values.yaml
Labels: area/kubernetes

feat: add dragonfly operator
  .ylsignore
  kubernetes/apps/database/dragonfly-operator/Chart.yaml
  kubernetes/apps/database/dragonfly-operator/argocd.yaml
  kubernetes/apps/database/dragonfly-operator/templates/ciliumclusterwidenetworkpolicy.yaml
  kubernetes/apps/database/dragonfly-operator/values.yaml
  kubernetes/apps/database/namespace.yaml
Labels: area/kubernetes

fix(grafana): enable necessary egress communication
  kubernetes/apps/observability/grafana/templates/ciliumnetworkpolicy.yaml
Labels: area/kubernetes

fix(minio): freeze minio to last known good version
  .renovate/customVersions.json5
  .renovaterc.json5
  docker/stacks/minio/compose.yaml
Labels: area/renovate

fix(alertmanager): fix alerts email sender
  kubernetes/apps/observability/kube-prometheus-stack/templates/alertmanagerconfig.yaml
Labels: area/kubernetes

feat: add authelia
  kubernetes/apps/security/authelia/Chart.yaml
  kubernetes/apps/security/authelia/argocd.yaml
  kubernetes/apps/security/authelia/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/security/authelia/templates/configmap.yaml
  kubernetes/apps/security/authelia/templates/dragonfly.yaml
  kubernetes/apps/security/authelia/templates/externalsecret.yaml
  kubernetes/apps/security/authelia/templates/podmonitor.yaml
  kubernetes/apps/security/authelia/templates/postgrescluster.yaml
  kubernetes/apps/security/authelia/values.yaml
  kubernetes/clusters/deedee/values.yaml
  schemas/values.json
Labels: area/kubernetes, area/schemas

feat(prometheus): hide behind oauth2-proxy
  kubernetes/apps/observability/kube-prometheus-stack/templates/prometheus.externalsecret.yaml
  kubernetes/apps/observability/kube-prometheus-stack/values.yaml
Labels: area/kubernetes

feat(alertmanager): hide behind ouath2-proxy
  kubernetes/apps/observability/kube-prometheus-stack/templates/alertmanager.externalsecret.yaml
  kubernetes/apps/observability/kube-prometheus-stack/templates/externalsecret.yaml
  kubernetes/apps/observability/kube-prometheus-stack/values.yaml
Labels: area/kubernetes

feat(argocd): add oidc login support
  kubernetes/apps/argocd/argo-cd/templates/externalsecret.yaml
  kubernetes/apps/argocd/argo-cd/templates/httproute.yaml
  kubernetes/apps/argocd/argo-cd/values.yaml
  kubernetes/apps/observability/kube-prometheus-stack/templates/alertmanager.externalsecret.yaml
  kubernetes/apps/observability/kube-prometheus-stack/templates/prometheus.externalsecret.yaml
  kubernetes/apps/security/authelia/values.yaml
  kubernetes/clusters/deedee/values.yaml
Labels: area/kubernetes

feat(grafana): add oidc login support
  kubernetes/apps/observability/grafana/templates/externalsecret.yaml
  kubernetes/apps/observability/grafana/values.yaml
  kubernetes/apps/security/authelia/templates/configmap.yaml
Labels: area/kubernetes

fix(rook): diskprediction_local is flaky
  kubernetes/apps/rook-ceph/rook-ceph-cluster/values.yaml
Labels: area/kubernetes

chore(deps): lock file maintenance
  flake.lock
Labels: none

fix: use sidecar from home-operations
  kubernetes/apps/security/authelia/values.yaml
Labels: area/kubernetes

WIP
  scripts/_lib.sh
  scripts/render-talos-machine-config.sh
  talos/meemee/machineconfig.yaml.j2
  talos/meemee/nodes/10.100.10.10.yaml.j2
Labels: area/scripts, area/talos

WIP
  .env
  .envrc
  .minijinja.toml
  flake.nix
  ge.so
  talos/meemee/machineconfig.yaml.j2
Labels: area/talos

WIP
  talos/meemee/machineconfig.yaml.j2
  talos/meemee/schematic.yaml.j2
Labels: area/talos

WIP
  ge.so
Labels: none

WIP
  .justfile
  bootstrap/helmfile.d/00-crds.yaml
  bootstrap/helmfile.d/01-apps.yaml
  bootstrap/mod.just
  bootstrap/resources.yaml.j2
  flake.nix
  talos/mod.just
Labels: area/bootstrap, area/talos

WIP
  bootstrap/crds.yaml
  bootstrap/helmfile.d/01-apps.yaml
  kubernetes/apps/policy-controller.yaml
  kubernetes/apps/policy-controller/ciliumnetworkpolicy.yaml
Labels: area/bootstrap, area/kubernetes

WIP
  bootstrap/helmfile.d/01-apps.yaml
  bootstrap/helmfile.d/templates/values.yaml.gotmpl
  kubernetes/apps/cosign-system/policy-controller/app.yaml
  kubernetes/apps/cosign-system/policy-controller/templates/ciliumnetworkpolicy.yaml
  kubernetes/apps/kube-system/cilium/README.md
  kubernetes/apps/kube-system/cilium/app.yaml
  kubernetes/apps/kube-system/cilium/templates/ciliumclusterwidenetworkpolicy.yaml
  kubernetes/apps/kube-system/coredns/app.yaml
  kubernetes/apps/kube-system/spegel/app.yaml
  kubernetes/lib/cluster-provisioner/templates/appset.yaml
Labels: area/bootstrap, area/kubernetes

WIP
  .justfile
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/kubernetes/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yaml
  bootstrap/helmfile.d/01-apps.yaml
  bootstrap/mod.just
  scripts/_lib.sh
  scripts/bootstrap-cluster.sh
  scripts/render-talos-machine-config.sh
  talos/mod.just
Labels: area/bootstrap, area/scripts, area/talos, area/taskfile

WIP
  .justfile
Labels: none

WIP
  bootstrap/helmfile.d/01-apps.yaml
  bootstrap/resources.yaml.j2
  kubernetes/apps/argocd/argo-cd/app.yaml
  kubernetes/apps/argocd/argo-cd/templates/ciliumnetworkpolicy.yaml
  kubernetes/clusters/meemee/values.yaml
Labels: area/bootstrap, area/kubernetes

WIP
  flake.nix
  kubernetes/apps/argocd/argo-cd/app.yaml
  kubernetes/apps/cosign-system/policy-controller/app.yaml
  kubernetes/apps/kube-system/cilium/app.yaml
  kubernetes/apps/kube-system/coredns/app.yaml
  kubernetes/apps/kube-system/spegel/app.yaml
  kubernetes/clusters/meemee/application.yaml
  kubernetes/clusters/meemee/globals.json
Labels: area/kubernetes

WIP
  kubernetes/apps/cosign-system/policy-controller/app.yaml
Labels: area/kubernetes

WIP
  TODO.md
  kubernetes/apps/external-secrets/onepassword/app.yaml
  kubernetes/apps/external-secrets/onepassword/templates/clustersecretstore.yaml
  kubernetes/clusters/meemee/globals.json
Labels: area/kubernetes
