Repository deedee-ops/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/schemas, area/scripts, area/talos, area/taskfile

.github/labeler.yaml:

---
# yaml-language-server: $schema=https://json.schemastore.org/pull-request-labeler.json
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
          - "docs/**/*.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/schemas:
  - changed-files:
      - any-glob-to-any-file: "schemas/**/*"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

WIP
  docker/hosts/meemee/resources/stack.rustfs.toml
  docker/hosts/meemee/secrets/rustfs.sops.env
  docker/stacks/rustfs/compose.env
  docker/stacks/rustfs/compose.yaml
  rustfs/.rustfs.sys/buckets/.usage.json/xl.meta
  rustfs/.rustfs.sys/config/config.json/xl.meta
  rustfs/.rustfs.sys/config/iam/format.json/xl.meta
  rustfs/.rustfs.sys/config/tier-config.json/ab544fdb-a4b3-41da-a239-c3ac427e5fed/part.1
  rustfs/.rustfs.sys/config/tier-config.json/xl.meta
  rustfs/.rustfs.sys/datausage/d6533f89-1527-4b4b-bf2e-48a89471af94.json
  rustfs/.rustfs.sys/datausage/state/d6533f89-1527-4b4b-bf2e-48a89471af94.json
  rustfs/.rustfs.sys/format.json
  rustfs/.rustfs.sys/pool.bin/50f34ad7-3091-4cbc-b178-175e6ae03b42/part.1
  rustfs/.rustfs.sys/pool.bin/xl.meta
  rustfs/.rustfs.sys/tmp/.trash/220cd93a-e426-4bd2-aa1d-dc0b72581b4f/xl.meta
  rustfs/.rustfs.sys/tmp/.trash/92a7cca4-6855-4a98-89f6-46a54b4671ff/xl.meta
  rustfs/.rustfs.sys/tmp/.trash/af260ba0-1c20-484f-966c-a5607dd55cc1/xl.meta
  rustfs/.rustfs.sys/tmp/.trash/eb4f5793-01cb-4c78-88c0-4f280ade03a5/xl.meta
Labels: none

WIP
  docker/hosts/meemee/resources/stack.rustfs.toml
Labels: none

WIP
  docker/stacks/rustfs/compose.env
Labels: none

WIP
  docker/stacks/rustfs/compose.env
Labels: none

WIP
  docker/stacks/rustfs/compose.env
Labels: none

WIP
  docker/stacks/rustfs/compose.env
Labels: none

WIP
  docker/stacks/rustfs/compose.env
Labels: none

WIP
  docker/hosts/meemee/resources/stack.rustfs.toml
  docker/stacks/rustfs/compose.yaml
Labels: none

WIP
  docker/hosts/meemee/resources/stack.rustfs.toml
Labels: none

WIP
  docker/stacks/komodo/compose.yaml
  docker/stacks/rustfs/compose.yaml
Labels: none

WIP
  truenas/deploy.sh
Labels: none

WIP
  docker/stacks/komodo/compose.yaml
Labels: none

WIP
  docker/hosts/meemee/resources/stack.komodo.toml
Labels: none

WIP
  docker/hosts/meemee/resources/stack.komodo.toml
Labels: none

WIP
  docker/hosts/meemee/resources/stack.komodo.toml
Labels: none

WIP
  docker/hosts/meemee/resources/stack.komodo.toml
Labels: none

WIP
  docker/hosts/meemee/resources/procedure.update.toml
Labels: none

WIP
  docker/hosts/meemee/resources/procedure.update.toml
Labels: none

WIP
  docker/hosts/meemee/resources/stack.komodo.toml
Labels: none

WIP
  truenas/deploy.sh
Labels: none

WIP
  docker/hosts/meemee/resources/stack.rustfs.toml.disabled
Labels: none

WIP
  docker/stacks/komodo/compose.yaml
Labels: none

WIP
  docker/hosts/meemee/resources/stack.komodo.toml
  docker/hosts/meemee/resources/stack.node-exporter.toml
  docker/hosts/meemee/resources/stack.rustfs.toml.disabled
  docker/hosts/meemee/resources/stack.smartctl-exporter.toml
  docker/hosts/meemee/resources/stack.traefik.toml
  rustfs/.rustfs.sys/buckets/.usage.json/xl.meta
  rustfs/.rustfs.sys/config/config.json/xl.meta
  rustfs/.rustfs.sys/config/iam/format.json/xl.meta
  rustfs/.rustfs.sys/config/tier-config.json/ab544fdb-a4b3-41da-a239-c3ac427e5fed/part.1
  rustfs/.rustfs.sys/config/tier-config.json/xl.meta
  rustfs/.rustfs.sys/datausage/d6533f89-1527-4b4b-bf2e-48a89471af94.json
  rustfs/.rustfs.sys/datausage/state/d6533f89-1527-4b4b-bf2e-48a89471af94.json
  rustfs/.rustfs.sys/format.json
  rustfs/.rustfs.sys/pool.bin/50f34ad7-3091-4cbc-b178-175e6ae03b42/part.1
  rustfs/.rustfs.sys/pool.bin/xl.meta
  rustfs/.rustfs.sys/tmp/.trash/220cd93a-e426-4bd2-aa1d-dc0b72581b4f/xl.meta
  rustfs/.rustfs.sys/tmp/.trash/92a7cca4-6855-4a98-89f6-46a54b4671ff/xl.meta
  rustfs/.rustfs.sys/tmp/.trash/af260ba0-1c20-484f-966c-a5607dd55cc1/xl.meta
  rustfs/.rustfs.sys/tmp/.trash/eb4f5793-01cb-4c78-88c0-4f280ade03a5/xl.meta
Labels: none

WIP
  nas/deploy-truenas.sh
  nas/periphery.config.toml
  nas/unraid-script
Labels: none

chore: adjust environment to work seamlessly with vault
  .envrc
  .gitignore
  .justfile
  .sops.yaml
  bootstrap/mod.just
  flake.nix
  opentofu/main.tf
  opentofu/terraform.tfstate
  opentofu/variables.tf
  scripts/vault.sops.env
  talos/mod.just
Labels: area/bootstrap, area/scripts, area/talos

talos
  .env
  .yamlfmt
  .ylsignore
  bootstrap/mod.just
  flake.nix
  talos/deedee/machineconfig.yaml.j2
  talos/deedee/nodes/192.168.42.21.yaml.j2
  talos/deedee/nodes/192.168.42.22.yaml.j2
  talos/deedee/nodes/192.168.42.23.yaml.j2
  talos/deedee/schematic.yaml.j2
Labels: area/bootstrap, area/talos

WIP
  .gitignore
  .justfile
  bootstrap/helmfile.d/00-crds.yaml
  bootstrap/helmfile.d/01-apps.yaml
  bootstrap/helmfile.d/templates/values.yaml.gotmpl
  bootstrap/mod.just
  bootstrap/resources.yaml.j2
  flake.nix
  kubernetes/apps/kube-system/cilium/templates/bgp.jsonnet
  kubernetes/clusters/deedee/globals.json
  kubernetes/clusters/deedee/values.yaml
  kubernetes/clusters/meemee/globals.json
  kubernetes/clusters/meemee/values.yaml
  talos/deedee/machineconfig.yaml.j2
  talos/mod.just
Labels: area/bootstrap, area/kubernetes, area/talos

refactor: talos provisioning
  .env
  .gitignore
  .justfile
  .yamlfmt
  .ylsignore
  bootstrap/helmfile.d/00-crds.yaml
  bootstrap/helmfile.d/01-apps.yaml
  bootstrap/helmfile.d/templates/values.yaml.gotmpl
  bootstrap/mod.just
  bootstrap/resources.yaml.j2
  flake.nix
  talos/deedee/machineconfig.yaml.j2
  talos/deedee/nodes/blossom.yaml.j2
  talos/deedee/nodes/bubbles.yaml.j2
  talos/deedee/nodes/buttercup.yaml.j2
  talos/deedee/schematic.yaml.j2
  talos/mod.just
Labels: area/bootstrap, area/talos
