Repository deedee-ops/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack, area/opentofu

.github/labeler.yaml:

---
# yaml-language-server: disabled
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*
area/opentofu:
  - changed-files:
      - any-glob-to-any-file: opentofu/**/*

feat(external): add ingress-nginx
  kubernetes/apps/external/ingress-nginx/Chart.yaml
  kubernetes/apps/external/ingress-nginx/application.yaml
  kubernetes/apps/external/ingress-nginx/templates/certificate.yaml
  kubernetes/apps/external/ingress-nginx/values.yaml
Labels: area/kubernetes

feat(external): add external-dns
  kubernetes/apps/external/external-dns/Chart.yaml
  kubernetes/apps/external/external-dns/application.yaml
  kubernetes/apps/external/external-dns/templates/cloudflare.yaml
  kubernetes/apps/external/external-dns/templates/network_policy.yaml
  kubernetes/apps/external/external-dns/values.yaml
Labels: area/kubernetes

feat(external): add kromgo
  kubernetes/apps/external/kromgo/Chart.yaml
  kubernetes/apps/external/kromgo/application.yaml
  kubernetes/apps/external/kromgo/templates/config.yaml
  kubernetes/apps/external/kromgo/values.yaml
Labels: area/kubernetes

docs: add README and LICENSE
  .gitattributes
  LICENSE
  README.md
  docs/INSTALL.md
  docs/img/k8shappy.png
Labels: none

fix(github-release): update kubernetes-csi/external-snapshotter to v6.3.3
  kubernetes/apps/kube-system/snapshot-controller/kustomization.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.21.0
  opentofu/cloudflare/.terraform.lock.hcl
  opentofu/cloudflare/main.tf
Labels: area/opentofu
